@rendermode @(new InteractiveServerRenderMode(prerender: false))
@inject IBffApiClient bffApiClient

<button class="btn btn-danger" @onclick="DeleteStudent">Delete</button>

@code {

    [Parameter]
    public int StudentId { get; set; }
    [Parameter]
    public EventCallback<int> OnStudentDeleted { get; set; }

    private async Task DeleteStudent()
    {
        await bffApiClient.DeleteStudentAsync(StudentId);

        await OnStudentDeleted.InvokeAsync(StudentId);
    }
}
